# package directories
node_modules

# Serverless directories
.serverless

# VS Code folder
.vscode/

# Build folder
.build

# Export folder and zip
export 
export.zip
coverage

# misc
environmentVariables.*.json

.vscode/
.DS_Store
.env.local
.env.dev
.env.prod
/.env.development*
/.env.test
/.env.production*
/.env.production

npm-debug.log*
yarn-debug.log*
yarn-error.log*